@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 230, 75%, 6%;

    --primary: 220, 52%, 12%;
    --primary-foreground: 220, 100%, 98%;

    --secondary: 0, 0%, 78%;
    --secondary-foreground: 220, 52%, 12%;

    --border: 213, 38%, 93%;

    --radius: 0.5rem;
    --mouse-x: 0;
    --mouse-y: 0;
  }

  .dark {
    --background: 0, 0%, 6%;
    --foreground: 0, 0%, 90%;

    --primary: 263, 60%, 46%;
    --primary-foreground: 220, 52%, 12%;

    --secondary: 220, 13%, 21%;
    --secondary-foreground: 220, 100%, 98%;

    --border: 220 13% 21%;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .border-effect {
    position: relative;
  }

  .border-effect::after {
    background: linear-gradient(transparent, hsl(var(--primary)), transparent);
    height: 100px;
    width: 1.5px;
    left: -1.5px;
    position: absolute;
    top: 80%;
    opacity: 0;
    content: "";
    transition: top 600ms ease-in, opacity 600ms ease-in;
  }

  .border-effect:hover::after {
    top: 25%;
    opacity: 1;
  }

  .card-effect:hover::before {
    opacity: 1;
  }
  .card-effect::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      hsl(var(--foreground), 0.4),
      transparent 30%
    );
    content: "";
    opacity: 0;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: opacity 500ms;
    left: 0px;
    top: 0px;
    z-index: 2;
  }
  .dark .card-effect::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      hsl(var(--foreground), 0.1),
      transparent 30%
    );
  }

  .bg-pattern {
    height: 100dvh;
    width: 100dvw;

    background-image: radial-gradient(hsl(var(--secondary)), transparent 10%);
    background-position: 0%;
    background-size: 12vmin 12vmin;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background-position: 0;
  }
}
